{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .bg-custom {
      background-image:url("{%static '/images/image.png'%}"); 
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
    }
  </style>
</head>

<body class="bg-custom">

  <div class="container mt-5">
    <h2 class="p-3 bg-gradient-light text-light text-center">City Weather forecast</h2>
   
    <div class="row">
      <div class="col-12 col-md-6 mx-auto">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="input-group mt-5 mb-5">
            <input type="text" class="form-control" name="city" placeholder="Enter city name" required>
            <button type="submit" class="btn btn-primary ml-1">Search</button>
          </div>
        </form>
      </div>
    </div>

    
    {% if weather_data %}
    <div class="row mt-4">
      <div class="col-12 col-md-8 mx-auto">
        <div class="card p-3 mb-2 bg-info-subtle text-info-emphasis">
          <div class="card-body">
            <h2 class="card-title">Weather in {{ weather_data.name }}</h2>
            <table class="table">
              <tr>
                <th>Temperature</th>
                <td>{{ weather_data.main.temp }} °C</td>
              </tr>
              <tr>
                <th>Humidity</th>
                <td>{{ weather_data.main.humidity }} %</td>
              </tr>
              <tr>
                <th>Wind Speed</th>
                <td>{{ weather_data.wind.speed }} m/s</td>
              </tr>
              <tr>
                <th>Description</th>
                <td>{{ weather_data.weather.0.description }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    {%else%}
    <div class="alert alert-danger" role="alert">
      Enter valid city
    </div>
    {% endif %}
  </div>

  
</body>

</html>